# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Company-provided raw data
data/raw/*

# Temporary files
*.tmp
*.temp
*.log

# OS files
.DS_Store
Thumbs.db